<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leese.usercenter.mapper.DishMapper">

    <resultMap id="BaseResultMap" type="com.leese.usercenter.model.entity.Dish">
            <id property="id" column="id" />
            <result property="dishName" column="dishName" />
            <result property="price" column="price" />
            <result property="categoryId" column="categoryId" />
            <result property="description" column="description" />
            <result property="imgUrl" column="imgUrl" />
            <result property="isAvailable" column="isAvailable" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,dishName,price,categoryId,description,imgUrl,
        isAvailable,createTime,updateTime,isDelete
    </sql>
</mapper>
